body{
margin: 0;
padding: 0;
font-family: Titillium Web;
color: darkgery;
background: #ffffff;
float: center;
}

p{
	front-size: 18px;
	text-align: center;
}

h1 {
	border-style: solid;
	border-width: 5px;
	border-color: #CD5C5C;
	padding: 1%;
	width: 40%;
	height:10%;
	margin:auto;
	text-align:center;
	front-size: 18px;
}

h2{
color: white;
}

h3 {
	
	border-width: 5px;
	border-color: #CD5C5C;
	padding: 1%;
	width: 30%;
	height:7%;
	margin:auto;
	text-align:center;
}

/*-----DEF------*/
h4 {
	front-size: 20px;
	text-align: center;
}

ul{
	list-style-type:none;
	text-align:center;
}

.container{
max-width: 960px;
width: 96%;
margin: auto;
}
/*---------HEADER----------*/

header{
background: #fff;
margin-bottom: 20px;
overflow: hidden;	
}

.logo{
float: left;
margin-top: 10px;
}

nav{
float: right;
line-height: 70px;
background-color: #ffffff;
}

nav li{
color:#001f3f;
display: inline-block;
padding: 5px 20px;
margin-left: 10px;
background:#DDDDDD;
line-height: normal;
text-decoration: none;
 }
/* -------CONTENT------- */
.content h2{
background: #FF4719;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
}

.content .art1{
float: left;
width: 600px;
}

.content .u1{
float: right;
width: 250px;
background: #ffffff;
padding: 20px;
border-radius: 5px;
list-style: none;
}

.content .art2{
float: right;
width: 600px;
}

.content .u2{
float: left;
width: 250px;
background: #ffffff;
padding: 20px;
border-radius: 5px;
list-style: none;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

#map { 
position:absolute; top:0; bottom:0; width:50%;
}
